h1,h2{
    text-align: center;
}
#characters{
    align-items: center;
    max-width: 500px;
    padding-left: 500px;
}
   
.character{
    width: 300px;
    padding: 10px;
    border: 1px solid #050505fa;
    text-align: center;
}
.character:hover{
    background-color: #9c0c0c;
}
.character image{
    max-width: 50%;
}
.character-name{
    margin-top: 10px;
    font-weight: bold;
}
.character-votes{
    margin-top: 5px;
    color: #9c0c0c;
}
